{% extends 'base.twig' %}

{% block content %}


	<form id="inputForm" class="main-block" action="showurl.php" method="post" onsubmit="getShortUrl(); return false">
		<div class="text">Введите ссылку которую хотите сократить</div>
		<div class="inputs">
			<span class="border-input"><input class="element" type="url" name="long-url" id="longUrl" value="" required></span>
			<span class="border-button"><button class="element" type="submit">Сократить</button></span>
		</div>

		<div id="shortUrlBlock">
			<input type="text" id="shortUrl" readonly>
		</div>

	</form>


{% endblock %}
{% block scripts %}
	<script src="/js/ajax.js"></script>
{% endblock %}