{% extends 'main.html.twig' %}

{% block inpuUrl %}
    placeholder="Введите ссылку которую хотите сократить"
{% endblock %}

{% block submitBT %}
    <span class="border-button"><button class="element" type="submit">Сократить</button></span>
{% endblock %}
