{% extends 'base.twig' %}

{% block content %}

    <form action="index.php" method="post">
        <input type="url" name="long-url" value="https://www.youtube.com/watch?v=26AuV9bwHCw"><br>
        <input type="submit">
    </form>

{% endblock %}