{% extends "base.twig" %}

{% block content %}

<div>Исходный URL: <i><?= $longUrl ?></i></div>
<div><label>Сокращенный URL: <input type="text" readonly value="<?= $shortUrl ?>"></label></div>

{% endblock %}