.container {
	display: flex;
	justify-content: center;
    flex-direction: column;
    align-items: center;
}


.head {
    background: red;
    text-align: center;
}

.main-block {
    /*display: flex;*/
    /*justify-content: center;*/
}